<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the buses_init() hook (in hooks/buses.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="buses-Xe_so-<%%VALUE(id)%%>" class="buses-Xe_so"><%%VALUE(Xe_so)%%></td>
		<td id="buses-Luot_di-<%%VALUE(id)%%>" class="buses-Luot_di"><%%VALUE(Luot_di)%%></td>
		<td id="buses-Luot_ve-<%%VALUE(id)%%>" class="buses-Luot_ve"><%%VALUE(Luot_ve)%%></td>
