<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the routes_init() hook (in hooks/routes.php file) -->
<!--     $options->ShowTableHeader = 0;     -->


		<td id="routes-Ma_so_tuyen-<%%VALUE(id)%%>" class="routes-Ma_so_tuyen"><%%VALUE(Ma_so_tuyen)%%></td>
		<td id="routes-Ten_tuyen-<%%VALUE(id)%%>" class="routes-Ten_tuyen"><%%VALUE(Ten_tuyen)%%></td>
		<td id="routes-Thoi_gian-<%%VALUE(id)%%>" class="routes-Thoi_gian"><%%VALUE(Thoi_gian)%%></td>
		<td id="routes-Gia_ve-<%%VALUE(id)%%>" class="routes-Gia_ve"><%%VALUE(Gia_ve)%%></td>
		<td id="routes-Don_vi_dam_nhan-<%%VALUE(id)%%>" class="routes-Don_vi_dam_nhan"><%%VALUE(Don_vi_dam_nhan)%%></td>
